<%- include('./layout/Header') %> <%- include('./layout/Navbar') %>

<div class="page-container">
  <h1><%= data.title %></h1>
  <p><%= data.date %></p>
  <p class="dairy-text"><%= data.description %></p>

  <div class="settings">
    <a href="/diary/edit/<%=data.id%>" class="edit">Edit</a>

    <!-- CREATE A FORM TO OVERRIDE THE METHOD OF DELETE METHOD A RECORD IN THE DATABASE USING METHOD OVERRIDER -->
    <form action="/diary/delete/<%=data.id%>?_method=DELETE" method="post">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Delete" class="delete" />
    </form>
  </div>
</div>
<%- include('./layout/Footer') %>
